.index__productlines--card{
    width: 30vw;
    height: auto;
    border: none;
    font-size: 1rem;
    h5{
       max-width: 131px;
       @include medias (desktop){
        max-width: 178px;
       }
    }
    img{
        max-width: 230px;
    }
    .card__productlines--btn{
        @extend .button;
        height: auto;
        font-size: 1rem;
        a{
            color: map-get($map:$palette, $key:'white');
        }
        @include medias (tablet){
            font-size: 1.2rem;
        }
    }
    @include medias (tablet){
        font-size: 1.2rem;
    }
}
.clients__div{
    width: 30%;
    .clients__logos{
        filter: grayscale(100%);
        &:hover{
            filter: grayscale(0%);
            transition: filter 2s;
            cursor: pointer;
        }
    }
    @include medias (desktop){
        width: 15%;
    }
}
