.structure__nosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nosimg"
    "historia"
    "servprod";
    justify-items: center;
    align-items: center;
    #NosImg{
        grid-area: nosimg;
        width: 70vw;
        height: auto;
        @include medias (desktop){
            width: 90%;
            height: auto;
            padding-left: 1.5vw;
        }
    }
    #Historia{
        grid-area: historia;
    }
    #ServProd{
        grid-area: servprod;
    }
    .nosotros__article{
        width: 85%;
    }
    @include medias (desktop){
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas:
        "nosimg historia"
        "nosimg servprod";
    }
}