.structure__products{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "filters"
    "products";
    #ProdFilters{
        grid-area: filters;
        font-family: $mainFont;
        .products__search--btn{
            border-radius: 5px;
            border: none;
            background: linear-gradient(to bottom, $lightGreen, $aqua);
            &:hover{
                background: linear-gradient(to bottom, $mainBg, $darkBlue);
                box-shadow: -7px 7px 7px -4px $black;
                cursor: pointer;
                transition: all .3s;
            }
            img{
                height: 3.5vh;
                width: auto;
            }
        }
    }
    #ProdList{
        grid-area: products;
        display: flex;
        flex-direction: column;
        align-items: center;
        .products__figure{
            width: 90%;
            max-width: 400px;
            height: auto;
            padding: 3vh 3vw;
            border: $aqua solid .1em;
            border-radius: 3%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                width: 50vw;
                max-width: 300px;
                &:hover{
                    transform: scale(1.2);
                    transition: transform 1s;
                    cursor: pointer;
                }
                @media (min-width: 768px){
                    width: 30vw;
                    max-width: 300px;
                }
                @media (min-width: 1024px){
                    width: 15vw;
                }     
            }
            figcaption{
                font-family: $mainFont;
                font-size: 1.1rem;
                font-weight: $textRegular;
                margin-top: 2vh;
                text-align: center;
                height: 55px;
            }
            @media (min-width: 768px){
                width: 45%;
            }
            @media (min-width: 1024px){
                width: 30%;
                margin-right: 1.5vw;
            }
        }
        .emptySpace{
            width: 90%;
            max-width: 400px;
            height: auto;
            padding: 3vh 3vw;
            border: none;
            border-radius: 3%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media (min-width: 768px){
                width: 45%;
            }
            @media (min-width: 1024px){
                width: 30%;
                margin-right: 1.5vw;
            }   
        }
        @media (min-width: 768px){
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }
        @media (min-width: 1024px){
            justify-content: center;
        }
    }
    @media (min-width: 1024px){
        grid-template-columns: 20% 80%;
        grid-template-areas:
        "filters products";
    }
}